[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-crispy-forms = "==1.6.0"
jellyfish = "==0.5.4"
psycopg2 = "*"
reportlab = "==3.3.0"
djangorestframework = "==3.3.3"
openpyxl = "==2.3.3"
python-dateutil = "==2.4.2"
python-memcached = "*"
pandas = "==0.20.3"
django-import-export = "==1.2.0"
Django = "==1.8.15"
Pillow = "==2.4.0"
XlsxWriter = "==0.9.8"

[requires]
python_version = "2.7"
