{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Reaching Case Plan Achievement {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /*color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->

{% for data in init_data %}

	<h1 class="page-header">Forms <small>Reaching Case Plan Achievement<b> | {{ data.first_name }} {{ data.surname }} | {{ data.sex_id|gen_value:vals }} | {% if data.date_of_birth|gen_age == 0 %}
                            UNDER 1 YEAR
                        {% else %}
                            {{ data.date_of_birth|gen_age }} YRS 
                        {% endif %}</b></small></h1>

{% endfor %}
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"> Monitoring Tool for OVC Households Reaching Case Plan Achievement </h4>
            </div>
            <div class="panel-body">
            	<form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                name="form-wizard-hhva" id="new_hhva">
                	{% csrf_token %}
							<div class="panel-body">

							    <!-- add labels like HA1, HA2 .. -->
							    <h2 class="text-center note note-info">Healthy</h2>
							<div class="form-group">
                                    <label class="col-md-6 control-label">1.All children, adolescents and caregivers in
                                        the household have known HIV status or test not required based on risk assessment</label>
                                    <div class="col-md-3">
                                        {{ form.cpm1 }}
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-md-6 control-label">2.All HIV+ children, adolescents and caregivers in the household are virally suppressed</label>
                                    <div class="col-md-3">
                                        {{ form.cpm2 }}
                                    </div>
                                </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">3.All adolescents 10-17 years of age in the household have knowledge about preventing HIV infection</label>
                                    <div class="col-md-3">
                                        {{ form.cpm3 }}
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label class="col-md-6 control-label">4.No child under 5 in the household is undernourished </label>
                                    <div class="col-md-3">
                                        {{ form.cpm4 }}
                                    </div>
                                </div>
                            </div>
                    <h2 class="text-center note note-info">Stable</h2>
							<div class="form-group">
                                    <label class="col-md-6 control-label">1.Caregiver able to access money (without
                                        selling productive assets) to pay for school fees and medical costs for children 0-17 years</label>
                                    <div class="col-md-3">
                                        {{ form.cpm5 }}
                                    </div>
                                </div>
                    <h4 class="text-center">Safe</h4>
							<div class="form-group">
                                    <label class="col-md-6 control-label">1.No child, adolescent and caregivers in the
                                        household report experience of violence</label>
                                    <div class="col-md-3">
                                        {{ form.cpm6 }}
                                    </div>
                                </div>
                    <div class="form-group">
                                    <label class="col-md-6 control-label">2.All children and adolescents in the household
                                        are under the care of a stable adult caregiver</label>
                                    <div class="col-md-3">
                                        {{ form.cpm7 }}
                                    </div>
                                </div>
                    <h2 class="text-center note note-info">Schooled</h2>
							<div class="form-group">
                                    <label class="col-md-6 control-label">1.All school age children and adolescents in
                                        the household regularly attend school since last visit (have not missed more than
                                        80% of school days per month) </label>
                                    <div class="col-md-3">
                                        {{ form.cpm8 }}
                                    </div>
                                </div>
                    <div class="form-group">
                                    <label class="col-md-6 control-label">2.All school age children and adolescents progressed
                                        from one grade to the next grade/graduated and progressed since the last visit</label>
                                    <div class="col-md-3">
                                        {{ form.cpm9 }}
                                    </div>
                                </div>
                    <div class="form-group">
                                    <label class="col-md-6 control-label">Household is still ready to successfully exit
                                        (case plan achievement):</label>
                                    <div class="col-md-3">
                                        {{ form.cpm10 }}
                                    </div>
                                </div>
                    <div class="form-group">
                                    <label class="col-md-6 control-label">2.All school age children and adolescents progressed
                                        from one grade to the next grade/graduated and progressed since the last visit</label>
                                    <div class="col-md-3">
                                        {{ form.cpm11 }}
                                    </div>
                                </div>
                    <br/>
                    <hr style="border-color: darkgrey; border-width: 5px;"/>
                    <div class="form-group">
                                    <label class="col-md-6 control-label semi-bold">Case determined ready for closure:</label>
                                    <div class="col-md-3">
                                        {{ form.cpm12 }}
                                    </div>
                                </div>

					                     

					<div class="panel-body panel-form">
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4"></label>
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
							</div>
						</div>
                    </div>

				</form>
            </div>
            <div class="badge pull-right m-4">Revised: Oct 6th 2016</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>	
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
	//multi selects
    $('#hhva_ha6, #hhva_ha21, #hhva_ha22, #hhva_ha28, #hhva_ha29, #hhva_ha30, #hhva_ha31').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableCaseInsensitiveFiltering: true,
        numberDisplayed: 1,
        maxHeight: 300,
        buttonWidth: '100%',
        buttonClass: 'btn btn-white'
    });

	$('html,body').scrollTop(0);
	FormWizardValidation.init();
});
</script>
<script type="text/javascript">
function AddRow(x)
{
	if(x==1)
	{
		var OlmisWASHData = new Array();
        var type = $("#hhva_ha10_type").val();
        var number = $("#hhva_ha10_number").val();
        var condition = $("#hhva_ha10_condition").val();
        var csrftoken = $.cookie('csrftoken');        
        var values = {  
            'csrfmiddlewaretoken': csrftoken
        };

        // Validation and Ajax
        if(type)
		{
			if(number)
			{
				// Validate ifnumber
				var isnum = /^\d+$/.test(number);
				if(!isnum){
					// $(".alert").show();
			        // $('.invalid-form-message').html('Please use digits only to specify number of bedding.');
			        $('#hhva_ha10_number_errormsg_').css({'display': 'block'})
			        return false;
				}
				$('#hhva_ha10_number_errormsg_').css({'display': 'none'})

				if(condition)
				{					
					// Find a <table> element with id="ha10_manager_table":
                    var table = $('#ha10_manager_table')[0]; 

                    // Create an empty <tr> element with id and add it to the 1st position of the table:
                    var rows_length = table.rows.length;
                    var row = table.insertRow(rows_length);
                    var index = rows_length - 2;
                    row_id = 'rowid0_' + index;
                    row.id = row_id;
                    var btnRemoveSvcId = 'btnRemoveSvc' + index;

                    // Insert new cells (<td> elements) of the "new" <tr> element:
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    var cell3 = row.insertCell(3);
                    var cell4 = row.insertCell(4);

                    var htype= "<input id='htype' type='hidden' value='"+type+"'>"
                    var hnumber = "<input id='hnumber' type='hidden' value='"+number+"'>"
                    var hcondition = "<input id='hcondition' type='hidden' value='"+condition+"'>"
                    var hstatus = "<input id='hstatus' type='hidden' value='new'>"

                    cell0.innerHTML = '<h6 class="td_style">' + hstatus + '</h6>';        
                    cell1.innerHTML = '<h6 class="td_style">' + displayVals(2, "hhva_ha10_type") + htype + '</h6>';
                    cell2.innerHTML = '<h6 class="td_style">' + $('#hhva_ha10_number').val() + hnumber + '</h6>';
                    cell3.innerHTML = '<h6 class="td_style">' + displayVals(2, "hhva_ha10_condition") + hcondition + '</h6>';
                    cell4.innerHTML  = '<h6 class="dialog_paragraph">' + "<a id=" + btnRemoveSvcId + " class='btn btn-sm btn-link m-r-5 href='#'>Remove</a>" + '</h6>';

                    // AddClick Event To Remove Button
                    $("#" + btnRemoveSvcId + "").click(function(e)
                    {
                        RemoveRow(1, '', row_id);
                    });

                    // Reset Input Elements/Error Divs
                    $("#hhva_ha10_type").val('');
                    $("#hhva_ha10_number").val('');
                    $("#hhva_ha10_condition").val('');
                    $(".alert").hide();

                    $('#ha10_manager_table tr').each(function(row, tr)
                    {                            
                        var type = $(tr).find('input[id="htype"]').val();
                        var number = $(tr).find('input[id="hnumber"]').val();
                        var condition = $(tr).find('input[id="hcondition"]').val();

                        OlmisWASHData[row]= {
                            "type" : type,
                            "number" : number,
                            "condition" : condition
                            }                                
                        
                    });
                    
                    OlmisWASHData.shift(); //remove first row(headers stuff)
                    OlmisWASHData.shift(); //remove second row(controls stuff)
                    OlmisWASHData = JSON.stringify(OlmisWASHData); 

                    // Set hhva_wash_list
                    $('#hhva_wash_list').val(OlmisWASHData); 
				}
				else
				{
					$("#hhva_ha10_condition_errormsg").css({ 'display': "block" });
				}

			}
			else
			{
				$("#hhva_ha10_number_errormsg").css({ 'display': "block" });
			}
		}
		else
		{
			$("#hhva_ha10_type_errormsg").css({ 'display': "block" });
		}
	}
	if(x == 2)
	{
		var OlmisAssetData = new Array();
        var asset = $("#hhva_ha15_asset").val();
        var number = $("#hhva_ha15_number").val();
        var size = $("#hhva_ha15_size").val();
        var csrftoken = $.cookie('csrftoken');        
        var values = {  
            'csrfmiddlewaretoken': csrftoken
        };

         // Validation and Ajax
        if(asset)
		{
			if(number)
			{
				// Validate if number
				var isnum = /^\d+$/.test(number);
				if(!isnum){
			        $('#hhva_ha15_number_errormsg_').css({'display': 'block'})
			        return false;
				}
				$('#hhva_ha15_number_errormsg_').css({'display': 'none'})

				if(size)
				{
					// Validate if size
					/**
					var isnum = /^\d+$/.test(size);
					if(!isnum){
				        $('#hhva_ha15_size_errormsg_').css({'display': 'block'})
				        return false;
					}
					$('#hhva_ha15_size_errormsg_').css({'display': 'none'})
					**/

					// Find a <table> element with id="ha15_manager_table":
                    var table = $('#ha15_manager_table')[0]; 

                    // Create an empty <tr> element with id and add it to the 1st position of the table:
                    var rows_length = table.rows.length;
                    var row = table.insertRow(rows_length);
                    var index = rows_length - 2;
                    row_id = 'rowid1_' + index;
                    row.id = row_id;
                    var btnRemoveSvcId = 'btnRemoveSvc' + index;

                    // Insert new cells (<td> elements) of the "new" <tr> element:
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    var cell3 = row.insertCell(3);
                    var cell4 = row.insertCell(4);

                    var hasset= "<input id='hasset' type='hidden' value='"+asset+"'>"
                    var hnumber = "<input id='hnumber' type='hidden' value='"+number+"'>"
                    var hsize = "<input id='hsize' type='hidden' value='"+size+"'>"
                    var hstatus = "<input id='hstatus' type='hidden' value='new'>"

                    cell0.innerHTML = '<h6 class="td_style">' + hstatus + '</h6>';        
                    cell1.innerHTML = '<h6 class="td_style">' + displayVals(2, "hhva_ha15_asset") + hasset + '</h6>';
                    cell2.innerHTML = '<h6 class="td_style">' + $('#hhva_ha15_number').val() + hnumber + '</h6>';
                    cell3.innerHTML = '<h6 class="td_style">' + $('#hhva_ha15_size').val() + hsize + '</h6>';
                    cell4.innerHTML  = '<h6 class="dialog_paragraph">' + "<a id=" + btnRemoveSvcId + " class='btn btn-sm btn-link m-r-5 href='#'>Remove</a>" + '</h6>';

                    // AddClick Event To Remove Button
                    $("#" + btnRemoveSvcId + "").click(function(e)
                    {
                        RemoveRow(1, '', row_id);
                    });

                    // Reset Input Elements/Error Divs
                    $("#hhva_ha15_asset").val('');
                    $("#hhva_ha15_number").val('');
                    $("#hhva_ha15_size").val('');
                    $(".alert").hide();

                    $('#ha15_manager_table tr').each(function(row, tr)
                    {                            
                        var asset = $(tr).find('input[id="hasset"]').val();
                        var number = $(tr).find('input[id="hnumber"]').val();
                        var size = $(tr).find('input[id="hsize"]').val();

                        OlmisAssetData[row]= {
                            "asset" : asset,
                            "number" : number,
                            "size" : size
                            }                                
                        
                    });
                    
                    OlmisAssetData.shift(); //remove first row(headers stuff)
                    OlmisAssetData.shift(); //remove second row(controls stuff)
                    OlmisAssetData = JSON.stringify(OlmisAssetData); 

                    // Set hhva_asset_list
                    $('#hhva_asset_list').val(OlmisAssetData); 
				}
				else
				{
					$("#hhva_ha15_size_errormsg").css({ 'display': "block" });
				}
			}
			else
			{
				$("#hhva_ha15_number_errormsg").css({ 'display': "block" });
			}
		}
		else
		{
			$("#hhva_ha15_asset_errormsg").css({ 'display': "block" });
		}
	}
}

function RemoveRow(index, uuid, tr_id)
{
    if(index == 1)
    {
        // Delete Table Row
        $("#" + tr_id).remove();

        var OlmisWASHData = new Array();
        $('#ha10_manager_table tr').each(function(row, tr)
        {                            
            var type = $(tr).find('input[id="htype"]').val();
            var number = $(tr).find('input[id="hnumber"]').val();
            var condition = $(tr).find('input[id="hcondition"]').val();

            OlmisWASHData[row]= {
                "type" : type,
                "number" : number,
                "condition" : condition
                }                                
            
        });
        
        OlmisWASHData.shift(); //remove first row(headers stuff)
        OlmisWASHData.shift(); //remove second row(controls stuff)
        OlmisWASHData = JSON.stringify(OlmisWASHData); 

        // Set hhva_wash_list
        $('#hhva_wash_list').val(OlmisWASHData);
    }
    if(index == 2)
    {
    	// Delete Table Row
        $("#" + tr_id).remove();

        var OlmisAssetData = new Array();
        $('#ha15_manager_table tr').each(function(row, tr)
        {                            
            var asset = $(tr).find('input[id="hasset"]').val();
            var number = $(tr).find('input[id="hnumber"]').val();
            var size = $(tr).find('input[id="hsize"]').val();

            OlmisAssetData[row]= {
                "asset" : asset,
                "number" : number,
                "size" : size
                }                                
            
        });
        
        OlmisAssetData.shift(); //remove first row(headers stuff)
        OlmisAssetData.shift(); //remove second row(controls stuff)
        OlmisAssetData = JSON.stringify(OlmisWASHData); 

        // Set hhva_wash_list
        $('#hhva_asset_list').val(OlmisAssetData);
    }
}

function displayVals(x, value)
{
	var selections = [];
	var hselections = [];
	if(x == 1)
	{
	    $("#" + value + " option:selected").each(function () 
	    {
	       var $this = $(this);
	       if ($this.length)
	       {
	            var selText = $this.text();
	            selections.push(selText);
	       }
	    });
	    $( "#sel_"+value ).html(selections.join( ", " ) );		
	}
	if(x==2)
	{
	    $("#" + value + " option:selected").each(function () 
	    {
	       var $this = $(this);
	       if ($this.length)
	       {
	            var selText = $this.text();
	            selections.push(selText);
	            //console.log(selText);
	       }
	    });
	    
	    return selections.join( ", <br>" );
	}
}

$("#hhva_ha6").change(function(event) 
{
	displayVals(1, 'hhva_ha6');
});

$("#hhva_ha10_type").change(function(event) 
{
	$('#hhva_ha10_type_errormsg').css({'display': 'none'})
});

$("#hhva_ha10_number").keyup(function() 
{
	if($(this).val())   
    {
		$('#hhva_ha10_number_errormsg_').css({'display': 'none'})
		$('#hhva_ha10_number_errormsg').css({'display': 'none'})
    }
});

$("#hhva_ha10_condition").change(function(event) 
{
	$('#hhva_ha10_condition_errormsg').css({'display': 'none'})
});

$("#hhva_ha21").change(function(event) 
{
	displayVals(1, 'hhva_ha21');
});

$("#hhva_ha22").change(function(event) 
{
	displayVals(1, 'hhva_ha22');
});

$("#hhva_ha28").change(function(event) 
{
	displayVals(1, 'hhva_ha28');
});

$("#hhva_ha29").change(function(event) 
{
	displayVals(1, 'hhva_ha29');
});

$("#hhva_ha30").change(function(event) 
{
	displayVals(1, 'hhva_ha30');
});

$("#hhva_ha31").change(function(event) 
{
	displayVals(1, 'hhva_ha31');
});
</script>
{% endblock %}